$breakpoint-small: 900px;
$spacing-small: 1rem;
$spacing-medium: 1.8rem;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

p {
  font-size: 18px;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 8vh;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;

  a:not(:last-of-type) {
    margin-right: $spacing-small;
  }

  @media (min-width: $breakpoint-small) {
    padding: 0 1rem;
  }
}

.title {
  font-weight: bolder;
  font-size: 1.5rem;

  @media (min-width: $breakpoint-small) {
    font-size: 2rem;
  }
}

.landing__img {
  z-index: -1;
  position: relative;
  height: 10rem;
  background-color: #111111;
  color: #ffffff;
  //   background: linear-gradient(to right, #2c5364, #203a43, #0f2027);

  @media (min-width: $breakpoint-small) {
    height: 70vh;
  }
}

.landing__text {
  margin-top: -6rem;
  margin-bottom: 3rem;
  margin-left: $spacing-small;
  margin-right: $spacing-small;
  background-color: #fcd34d;
  color: black;
  padding: $spacing-small;
  padding-bottom: 2rem;

  @media (min-width: $breakpoint-small) {
    position: absolute;
    margin: 0 10rem;
    top: 20vh;
    width: 40rem;
    padding: $spacing-medium;
  }
}

.landing__title {
  font-size: 3rem;

  @media (min-width: $breakpoint-small) {
    font-size: 3rem;
  }
}

.landing__subtitle {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;

  @media (min-width: $breakpoint-small) {
    font-size: 2rem;
  }
}

.landing__subtitle-catchy {
  margin-top: 1.5rem;
  font-weight: bolder;

  i {
    background-color: #5726ab;
    color: white;
    padding: 0.5rem;
    margin-top: 2rem;
  }
}

.content {
  padding: $spacing-small;
  background-color: #ffffff;
  color: #000000;

  @media (min-width: $breakpoint-small) {
    padding-top: 5rem;
    width: 900px;
    margin: auto;
  }
}

.video {
  margin-top: 5rem;
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
